[name=wrapper] > ol > li,
[name=wrapper] > ul > li {
    padding-bottom: 30px;
}

[name=wrapper] {
    padding: 60px;
}

code {
    font-size: 20px;
}

.css-rw7e0a-Flex-Split > *:first-child {
    padding-right: 30px;
}

pre {
    line-height: 1 !important;
}
